/*! http://responsiveslides.com v1.53 by @viljamis */

.slides {
    position: relative;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.slides li {
    
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.slides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.slides img {
    display: block;
    height: auto;
    float: left;
    border: 0;
    width: 100%;
}